<!DOCTYPE html>

<html lang = "en">
<head>
    <title>Class List: Create</title>
    <meta charest = "utf-8"/>
</head>
<body>
    <form action = "./api/create" method = "post">
    <div>
        <label for = "studentName">Enter the student's name:</label>
        <input type = "text" id = "student" name = "student" placeholder="Name">
        <label for = "studentName">Enter the student number:</label>
        <input type = "text" id = "studentNum" name = "studentNum" placeholder="student Number">
        <label for = "studentName">Enter the student's courses:</label>
        <input type = "text" id = "courses" name = "courses" placeholder="course1, course2, course3,...">
    </div>
    <div class = "button">
        <button type = "submit">Add</button>

    </div>

    </form>


</body>
</html>